pkgbase = educamadrid-wifi
	pkgdesc = Unofficial GUI to connect to the EducaMadrid WEDU_PROF Wi-Fi network via NetworkManager
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/13Stokes31/educamadrid_wifi
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = networkmanager
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrender
	depends = wayland
	source = educamadrid-wifi-0.2.0.tar.gz::https://github.com/13Stokes31/educamadrid_wifi/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 7ea02cc95c701861b7fb9182ff652b810cd5b93adfbfc9d6c99945a4a531defb

pkgname = educamadrid-wifi
